.article-container {
  margin: 2rem 0;
}

.article-header {
}

.article-title {
  margin: 0;
}

.article-subtitle {
  margin: 0.5rem 0 0 0;
}

.article-date {
}

.article-body {
  margin: 1rem 0 0 0;
}
