.article-container {
  margin: 2rem 0;
}

.article-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.article-title {
  margin: 0;
  flex: 10 0 100%;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
}

.article-line {
  height: 4px;
  flex: 2 1 100px;
  background: #dfdfdf;
  border-radius: 10px;
  margin-left: 0.5rem;
}

.article-subtitle {
  margin: 0.5rem 0 0 0;
  color: #777;
}

.article-date {
  color: #aaa;
  font-weight: 800;
  font-variant: all-small-caps;
}

.article-body {
  margin: 1rem 0 0 0;
}

.xur-planet {
  font-weight: 800;
}

.xur-location {
  font-weight: 800;
}
