h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.3rem;
}

.button {
  border: none;
  border-radius: 10px;
  background-color: #000;
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: all 0.1s ease-in-out;
}

.button:hover {
  cursor: pointer;
  box-shadow: 0 2px 10px -4px black;
}

.main-container {
  margin: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.line-separator--thick-light,
.line-separator-vertical--thick-light {
  border-radius: 4px;
  border: 2px solid #d1d1d1;
  width: 100%;
  height: 0;
}

.line-separator-vertical--thick-light {
  width: 0;
  height: initial;
  margin: 0 1rem;
}

.page-main-content {
  flex: 2 1 400px;
}

.page-side-content {
  flex: 2 2 300px;
}
