.page-footer {
  margin: 2rem 1rem 0;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: rgb(230, 230, 230);
  width: 100%;
}

.page-footer-nav {
  margin: 0 1rem;
  background: var(--color-container);
  padding: 1rem 2rem;
  border-radius: 1rem;
  box-shadow: var(--shadow-l);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer-copyright {
  margin: 0;
}

.page-footer-establishment {
  margin: 2rem 0 0;
}

.page-footer-legal {
  display: flex;
  flex-flow: column;
}

.page-footer-character-quote {
  width: 100%;
}
