.page-header {
  display: flex;
  align-items: flex-end;
}

.page-header-left-section,
.page-header-right-section {
  flex: 1 1 200px;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 2rem 1.75rem;
  justify-content: space-between;
  align-items: flex-end;
}

.page-header-reset-label {
  margin: 0;
}

.page-header-reset-container:last-of-type {
  text-align: right;
}

.page-header-character-quote {
  margin: 0;
}

.page-header-heading-container {
  display: grid;
  grid-template-areas: header;
}

.page-header-heading-title {
  grid-area: header;
  z-index: 10;
  text-align: center;
}

.heading-title-logo {
  grid-area: header;
  height: 4rem;
  width: 4rem;
  border-radius: 100px;
  border: 4px solid #eee;
  place-self: center;
}
