.item-list-container {
}

.item-header {
  display: flex;
  flex: 2 2 300px;
}

.item-title {
}

.item-name {
  font-weight: 800;
}

.item-cost {
  font-variant: all-small-caps;
  font-weight: 800;
  font-size: 1.25rem;
  color: #777;
}

.item-description {
  flex: 2 2 300px;
  margin-top: 0.5rem;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
  counter-reset: item-list-counter;
}

.item-wrapper {
  margin-right: 2rem;
  counter-increment: item-list-counter;
  flex: 2 2 300px;
}

.item-wrapper::before {
  /* content: counter(item-list-counter) ". ";
  vertical-align: top; */
}

.item-container {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}

.item-image {
  margin-right: 0.5rem;
  border-radius: 6px;
  width: 4rem;
  height: 4rem;
}
