.item-list-container {
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-title {
  margin-right: 1rem;
}

.item-name {
  font-weight: 800;
}

.item-cost {
  /* font-variant: all-small-caps; */
  font-weight: 800;
  font-size: 1.25rem;
  color: #777;
}

.item-description {
  margin-top: 0.5rem;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
  counter-reset: item-list-counter;
  margin: 0 -1rem;
}

.item-wrapper {
  counter-increment: item-list-counter;
  flex: 2 2 300px;
  margin: 0.5rem 1rem;
  max-width: 400px;
}

.item-wrapper::before {
  /* content: counter(item-list-counter) ". ";
  vertical-align: top; */
}

.item-container {
  display: flex;
  flex-wrap: wrap;
  /* margin: .5rem 0; */
  flex: 2 1 300px;
  flex-direction: column;
}

.item-image {
  border-radius: 6px;
  width: 3rem;
  height: 3rem;
  filter: grayscale(1);
}
