.modifier-group {
  flex: 1 1 240px;
}

.modifier-heading {
  color: var(--color-text-secondary);
  font-size: 1rem;
  font-weight: 600;
  // margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.modifier-list {
  margin-bottom: 2rem;
}

.modifier-icon {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  filter: brightness(0);
}
