.section {
  margin-bottom: 1rem;
  flex: 1 2 400px;
  flex-wrap: wrap;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sub-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0 2rem;
}

.sub-section-item {
  flex: 2 1 240px;
}

.section-wrapper {
  display: flex;
  flex-direction: row;
  flex: 3 1 600px;
  gap: 2rem;
}

.section-title {
  font-family: 'Landmark Dimensional A', 'Landmark Dimensional B';
  // font-family: 'Landmark Inline A', 'Landmark Inline B';
  font-size: 1.75rem;
  // margin-bottom: 0.25rem;
}

.section-description {
  width: 100%;
  color: var(--color-text-secondary);
  font-style: italic;
  min-height: 4rem;
}

.section-image {
  width: 100%;
  border-radius: 8px;
  box-shadow: var(--box-shadow-close);
  margin-bottom: 1rem;
}

.section-text {
  color: var(--color-text-secondary);
  margin: 2rem 0;
}
