.article-container {
  margin: 1rem 0;
  border-bottom: 1px solid var(--color-container);
  padding: 1rem 0;
  flex: 2 3 300px;
}

.article-container--small {
  flex: 2 5 200px;
}

.article-container--medium {
  flex: 2 1 400px;
}

.article-container--large {
  flex: 1 1 100%;
}

.article-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.article-title {
  margin: 0;
  flex: 10 0 100%;
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Verlag Cond A", "Verlag Cond B";
  /* text-transform: uppercase; */
  font-style: italic;
}

.article-line {
  height: 4px;
  flex: 2 1 100px;
  background: #dfdfdf;
  border-radius: 10px;
  margin-right: 0.5rem;
}

.article-subtitle {
  margin: 0.5rem 0 0 0;
  color: #777;
}

.article-date {
  color: #aaa;
  font-weight: 800;
  /* font-variant: all-small-caps; */
}

.article-body {
  margin: 1rem 0 0 0;
}

.xur-planet {
  font-weight: 800;
}

.xur-location {
  font-weight: 800;
}
