.main-container {
  margin: 0 2rem;
  display: grid;
  gap: 1rem 2rem;
  grid-template-columns:
    minmax(300px, 2fr)
    minmax(400px, 4fr)
    minmax(300px, 1fr);
}

.rail-1 {
  padding-right: 2rem;
  border-right: 4px solid var(--color-separater-primary);
}

.rail-2 {
  padding-right: 2rem;
  border-right: 4px solid var(--color-separater-primary);
}

li {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
  .main-container {
    grid-template-columns:
      minmax(300px, 1fr)
      minmax(400px, 2fr);
  }

  .rail-2 {
    padding-right: 0;
    border-right: none;
  }

  .rail-3 {
    grid-column: 1 / 3;
    padding-top: 2rem;
    margin-top: 1rem;
    border-top: 4px solid var(--color-separater-primary);
  }
}

@media screen and (max-width: 880px) {
  .main-container {
    grid-template-columns: 1fr;
  }

  .rail-1 {
    padding-right: 0;
    border-right: none;
    border-bottom: 4px solid var(--color-primary);
  }

  .rail-2 {
    padding-top: 1rem;
  }

  .rail-3 {
    grid-column: auto;
  }

  // .main-container {
  //   margin: 1rem;
  // }
}

@media screen and (max-width: 500px) {
  .main-container {
    margin: 0 1rem;
  }
}

.about {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 12rem auto;
  font-size: 1.75rem;

  h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 4rem;
  }

  p {
    line-height: 2.25rem;
    margin-bottom: 1rem;
  }

  a {
    font-weight: bold;
  }
}

.line-separator--thick-light,
.line-separator-vertical--thick-light {
  border-radius: 4px;
  border: 2px solid #d1d1d1;
  width: 100%;
  height: 0;
}

.line-separator-vertical--thick-light {
  width: 0;
  height: initial;
  margin: 0 1rem;
}

.page-side-content {
  flex: 2 2 300px;
}

.callout {
  background: #eee;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.callout p {
  max-width: 400px;
}

.warning {
  background-color: #e26b2b;
  color: white;
  font-weight: 800;
  font-size: 1rem;
}

.warning--icon {
  width: 24px;
  margin-right: 1rem;
}

.back-to-top {
  visibility: visible;
  opacity: 1;
  display: flex;
  justify-content: flex-end;
  position: sticky;
  bottom: 0;
  margin-right: 4vw;
  transition: all 0.2s;
}

.back-to-top-link {
  border-radius: 100px;
  box-shadow: var(--box-shadow-far);
  transition: all 0.1s linear;
  padding: 0;
  height: 62px;
  width: 62px;
  // outline: none;
}

.back-to-top-link:focus,
.back-to-top-link:hover {
  box-shadow: var(--box-shadow-close);
}

.back-to-top:active {
  box-shadow: none;
}

.back-to-top-link svg {
  height: 64px;
  width: 64px;
}

.back-to-top-link svg #outline-circle {
  stroke: var(--color-background);
  fill: var(--color-primary);
}

.back-to-top-link:hover svg #outline-circle,
.back-to-top-link:focus svg #outline-circle {
  stroke: black;
  fill: black;
}

.back-to-top-link svg #arrow-icon,
.back-to-top-link svg #arrow-icon {
  fill: var(--color-background);
}

.back-to-top-link:hover svg #arrow-icon,
.back-to-top-link:focus svg #arrow-icon {
  fill: var(--color-background);
}

.back-to-top.show {
  bottom: 4vh;
}

.small-label {
  color: var(--color-text-secondary);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
}

.newline {
  display: block;
}

.badge {
  // &::before {
  //   content: '•';
  // }

  color: #fff;
  background-color: var(--color-red);
  padding: 0.1rem 0.5rem;
  font-size: 0.8rem;
  font-weight: 800;
  border-radius: 100px;
  margin-right: 0.25rem;
}

// li:not(:last-child) {
//   margin-bottom: 1rem;
// }
