.bungie-rss a {
  flex: 2 2 200px;
  font-size: 1.5rem;
  color: var(--color-text-primary);
  font-weight: bold;
  margin-top: 0.25rem;
}

.bungie-rss li {
  font-size: 1.25rem;
  color: var(--color-text-secondary);
  flex: 2 2 200px;
}

.bungie-rss li section {
  margin-bottom: 0.25rem;
}

.bungie-rss ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
