.page-footer {
  margin: 2rem;
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 2rem;
  border-top: 4px solid var(--color-separater-primary);
}

@media screen and (max-width: 486px) {
  .page-footer {
    margin: 1rem;
    justify-content: center;
  }
}

.page-footer-nav {
  margin: 0 1rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page-footer-copyright {
  margin: 0;
}

.page-footer-establishment {
  margin: 0 0 1rem 0;
}

.page-footer-about {
  display: flex;
  flex-direction: column;
}

.page-footer-updated {
  margin: 1rem 0 0 0;
  font-size: 1rem;
  font-weight: 800;
  color: #777;
}

.page-footer-character-quote {
  width: 100%;
  font-style: italic;
}

.page-footer-character-quote--author {
  margin: 0.5rem 0 0 1rem;
  font-style: normal;
  font-size: 1rem;
  font-weight: 800;
}
