.page-header {
  display: flex;
  flex-direction: column;
  margin: 6rem 2rem 2rem;
  border-bottom: 4px solid var(--color-separater-primary);
  text-align: center;

  h1 a {
    color: var(--color-text-primary);
    text-decoration: none;
  }
}

.page-header-today {
  margin-bottom: 2rem;
  font-weight: 800;
  line-height: 1.2rem;
}

.page-header-toc {
  font-size: 1.25rem;
  line-height: 2rem;
  text-align: left;
  max-width: 580px;
  margin: auto;
}

.page-header-aside {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
  font-weight: bold;
  color: var(--color-text-secondary);
}

.page-header-date {
  font-weight: 800;
  margin-top: 1rem;
}

.page-header-date:first-of-type {
  margin-right: 2rem;
}

.page-header-title {
  // display: flex;
  // flex-direction: column;
  z-index: 10;
  font-family: 'Landmark Dimensional A', 'Landmark Dimensional B';
  font-style: normal;
  font-weight: 400;
  /* font-size: 4rem; */
}

.page-header-logo {
  height: 300px;
  width: 300px;
  margin-bottom: -200px;
  opacity: 0.1;
  align-self: center;
}

.page-slogan-wit {
  padding: 1rem 0;
  text-align: center;
}

.page-header-slogan {
  display: flex;
  align-items: baseline;
  padding: 1rem 0;
  white-space: nowrap;
  width: 100%;
  font-size: var(--font-size-l);
  font-style: italic;
  color: var(--color-text-primary);
  // margin-top: -1rem;
  // font-style: italic;
  // text-align: center;
  // padding-bottom: 0.25rem;
}

.page-header-slogan::before,
.page-header-slogan::after {
  content: '';
  border-top: 4px solid var(--color-separater-secondary);
  width: 100%;
  margin-right: 1rem;
  align-self: center;
}

.page-header-slogan::after {
  margin-right: 0;
  margin-left: 1rem;
}

.page-header-left-section,
.page-header-right-section {
  display: none;
}

@media screen and (max-width: 500px) {
  .page-header {
    margin: 3rem 1rem 2rem;
    // text-align: left;
  }

  // .page-header-logo {
  //   height: 200px;
  //   width: 200px;
  //   margin-bottom: -180px;
  //   opacity: 0.1;
  //   align-self: flex-end;
  // }

  // .page-header-toc {
  //   margin: 0;
  // }

  // .page-header-left-section,
  // .page-header-right-section {
  //   flex: 1 1 200px;
  //   display: flex;
  //   flex-wrap: wrap;
  //   margin: 1rem 2rem 1.75rem;
  //   justify-content: space-between;
  //   align-items: flex-end;
  // }

  // .page-header-slogan {
  //   // white-space: normal;
  //   font-size: var(--font-size);
  // }

  // .page-header-slogan::before {
  //   display: none;
  // }
}

@media screen and (max-width: 360px) {
  .page-header-slogan {
    white-space: normal;
  }
}
.page-header-reset-label {
  margin: 0;
}

.page-header-reset-container:last-of-type {
  text-align: right;
}

.page-header-character-quote {
  margin: 0;
}

.support-link {
  align-self: flex-end;
  background: var(--color-text-primary);
  padding: 1rem 2rem;
  color: var(--color-background);
  text-decoration: none;
  font-weight: 800;
  border-radius: 8px;
  box-shadow: var(--box-shadow-far);
  transition: all 0.1s linear;
}

.support-link:hover,
.support-link:focus {
  background-color: black;
  box-shadow: var(--box-shadow-close);
}

.support-link:active {
  box-shadow: none;
}
