.inventory-item-list {
  counter-reset: inventory-item-list;
  list-style-type: none;
}

.inventory-item-container {
  counter-increment: inventory-item-list;
}

.inventory-item-number-separater {
  display: flex;
  align-items: center;
  width: 100%;
}

ol .inventory-item-number-separater::before {
  content: counter(inventory-item-list);
  display: inline-block;
  color: var(--color-text-secondary);
  width: 1.25rem;
  font-size: 1rem;
  font-weight: 900;
}

.inventory-item-number-separater::after {
  content: ' ';
  height: 2px;
  width: 100%;
  display: inline-block;
  background: var(--color-separater-secondary);
  border-radius: 20px;
}

.inventory-item {
  /* counter-increment: inventory-item-list; */
  /* margin: 1rem 0; */
  display: flex;
  flex-wrap: wrap;
  /* border-top: 1px solid #bbb; */
  /* padding: 0.5rem 0 1rem; */
  margin: 0 0 1rem 1.25rem;
  align-items: flex-start;
}

.vendor-item-header {
  flex: 4 1;
  /* align-self: center; */
}

.vendor-item-name {
  font-size: 1.5rem;
}

.vendor-item-description {
  color: var(--color-text-secondary);
  font-size: 1.25rem;
}

.vendor-item-icon {
  height: 48px;
  width: 48px;
  border-radius: 8px;
  /* margin-right: 0.5rem; */
}

.vendor-item-cost-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.vendor-item-cost {
  display: flex;
  margin: 0.5rem 1rem 0.5rem 0;
  flex-direction: row-reverse;
  align-items: center;
}

.vendor-item-cost-quantity {
  font-weight: bold;
  font-size: 1.2rem;
  margin-left: 0.25rem;
  min-width: 1.5rem;
}

.vendor-item-cost-icon {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}
