.iron-banner-container {
  border-bottom: 4px solid var(--color-separater-primary);
  margin-bottom: 2rem;
  padding-bottom: 2rem;
}

.iron-banner-image-container {
  display: grid;
  grid-auto-columns: 1fr 33% 1fr;
  flex: 2 2;
}

.iron-banner-description {
  align-self: center;
  width: 50%;
}

.iron-banner--image-container--image {
  grid-area: 1 / 1 / 4 / 4;
  /* border-radius: 8px; */
  width: 100%;
  /* filter: brightness(0.6) sepia(); */
}

.iron-banner--image-container--icon {
  grid-area: 2 / 2 / 3 / 3;
  z-index: 10;
  width: 100%;
  align-self: center;
  justify-self: center;
}

.iron-banner--text-container {
  flex: 4 2 300px;
  margin: 0 1rem 1rem;
}
.iron-banner--heading {
  margin-bottom: 1rem;
  font-style: italic;
}
