.item-list-container {
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.item-title {
  margin-right: 1rem;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-self: center;
}

.item-name {
  font-weight: 800;
  flex: 2 2 100px;
  margin-right: 1rem;
}

.item-cost {
  /* font-variant: all-small-caps; */
  font-weight: 800;
  font-size: 1.25rem;
  color: #777;
  display: flex;
  align-items: center;
}

.item-description {
  margin-top: 0.5rem;
}

.item-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  list-style: none;
  counter-reset: item-list-counter;
  margin: 0 -1rem;
}

.item-wrapper {
  counter-increment: item-list-counter;
    flex: 2 1 240px;
    margin: 0.5rem 1rem;
    /* max-width: 400px;
}

.item-wrapper::before {
  /* content: counter(item-list-counter) ". ";
  vertical-align: top; */
}

.item-container {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* margin: .5rem 0; */
  /* flex: 2 1 300px; */
  /* flex-direction: column; */
}

.item-image {
  border-radius: 6px;
  width: 3rem;
  height: 3rem;
  filter: grayscale(1);
}

.item-image--small {
  width: 20px;
  height: 20px;
}

.item-character-class,
.item-armor-type {
  width: 100%;
}
