.lost-sector-modifiers-container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.lost-sector-modifiers-group {
  flex: 1 1 240px;
}

.lost-sector-modifier-heading {
  font-weight: 900;
  font-variant: all-small-caps;
  color: var(--color-text-secondary);
}

.lost-sector-list {
  margin-bottom: 2rem;
}

.lost-sector-list .vendor-item-icon {
  width: 28px;
  height: 28px;
  filter: brightness(0);
}

.lost-sector-list .inventory-item {
  margin-bottom: 1rem;
}

.lost-sectors-container {
  flex: 2 1 400px;
}
