.lost-sector-modifiers-container {
  display: flex;
  gap: 1rem 2rem;
  flex-wrap: wrap;
}

.modifiers-group {
  flex: 1 1 240px;
  /* margin-top: 1rem; */
}

.lost-sector-list {
  margin-bottom: 2rem;
	display: flex;
	flex-wrap: wrap;
	gap: 0 2rem;
	width: 100%;
}

.lost-sector-list .item-icon {
  width: 28px;
  height: 28px;
  filter: brightness(0);
}

.lost-sector-list .inventory-item {
  margin-bottom: 0.5rem;
}

.lost-sector-list li {
	flex: 1 1 300px;
}

.lost-sector-rewards-list .item-icon {
  width: 32px;
  height: 32px;
  filter: none;
}

.lost-sector-rewards-list .inventory-item {
  margin-bottom: 0.5rem;
  align-items: center;
}

.lost-sectors-container {
  flex: 2 1 400px;
}
