.lost-sector-modifiers-container {
  display: flex;
  gap: 1rem 2rem;
  flex-wrap: wrap;
}

.lost-sector-modifiers-group {
  flex: 1 1 240px;
}

.lost-sector-modifier-heading {
  font-size: 1rem;
  font-weight: 900;
  font-family: 'Landmark Inline A', 'Landmark Inline B';
  color: var(--color-text-secondary);
}

.lost-sector-list {
  margin-bottom: 2rem;
}

.lost-sector-list .item-icon {
  width: 28px;
  height: 28px;
  filter: brightness(0);
}

.lost-sector-list .inventory-item {
  margin-bottom: 0.5rem;
}

.lost-sector-rewards-list .item-icon {
  width: 32px;
  height: 32px;
  filter: none;
}

.lost-sector-rewards-list .inventory-item {
  margin-bottom: 0.5rem;
  align-items: center;
}

.lost-sectors-container {
  flex: 2 1 400px;
}
