.meta {
  grid-area: meta;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  align-content: flex-start;
  /* border-left: 3px solid var(--color-separater-primary); */
}

.meta-section {
  flex: 1 1 240px;
  /* margin: 0 2rem; */
}
