.meta {
  grid-area: meta;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  /* border-left: 3px solid var(--color-separater-primary); */
}

.meta-description {
  width: 100%;
}

.meta-section {
  flex: 1 1 200px;
  /* margin: 0 2rem; */
}
