.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
  margin-bottom: 2rem;

  .nav-aside {
    flex: 1 1 200px;
    color: var(--color-text-secondary);
    font-style: italic;
    text-align: left;

    p {
      margin-bottom: 0.5rem;
      font-size: 1.15rem;
      line-height: 1.25rem;
    }

    .nav-support {
      font-style: normal;
      margin-bottom: 0.5rem;
    }

    a {
      color: black;
      font-weight: 500;
    }
  }

  .nav-header {
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    display: inline-block;
  }

  .nav-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;

    p {
      text-align: left;
      margin-bottom: 0.5rem;
      line-height: 1.45rem;
      font-size: 1.15rem;
    }

    .small-label {
      font-weight: 800;
      margin-bottom: 0.25rem;
      font-size: 0.8rem;
    }

    a {
      color: black;
      font-weight: 600;
    }
  }

  .nav-group-list {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    gap: 0 1rem;
    font-size: 1.3rem;
  }

  .nav-list {
    list-style-type: initial;
  }

  .nav-item {
    margin: 0;

    &::marker {
      color: var(--color-text-secondary);
      font-size: 1rem;
    }
  }
}

.nav-about {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 2rem;
  margin-bottom: 2rem;

  a {
    font-weight: 800;
  }
}
