.nav {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0 3rem;

  .nav-group {
    flex: 1 1 400px;

    p {
      text-align: left;
      margin-bottom: 0.75rem;
    }
  }

  .nav-aside {
    flex: 1 2 200px;
    color: var(--color-text-secondary);
    font-style: italic;
    text-align: left;

    p {
      margin-bottom: 1rem;
    }
  }

  .nav-header {
    font-size: 1.1rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    display: inline-block;
  }

  .nav-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.5rem;

    since-date {
      font-weight: 800;
      margin-bottom: 0.25rem;
    }

    a {
      color: black;
      font-weight: 600;
    }
  }

  .nav-group-list {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    gap: 0 1rem;
    font-size: 1.3rem;
  }
}
