.section-container {
  /* margin: 2rem 0; */
  /* margin: 1rem; */
  flex: 10 10 300px;
  padding: 0 1rem;
}

.section-container__weekly {
  grid-area: today;
  border-right: 4px solid var(--color-separater-primary);
  border-left: 4px solid var(--color-separater-primary);
  padding: 0 2rem;
}

.section-container__season {
  flex: 2 2 300px;
}

.section-container__meta {
  flex: 1 260px;
  border-right: 2px solid #333;
}

.section-title {
  font-family: 'Landmark Dimensional A', 'Landmark Dimensional B';
  font-size: 2rem;
  width: 100%;
}

.section-subtitle {
  font-size: 2rem;
  color: var(--color-text-primary);
  display: flex;
  align-items: center;
  padding: 1rem 0;
  white-space: nowrap;
  width: 100%;
}

.section-subtitle::before,
.section-subtitle::after {
  content: '';
  border-top: 2px solid var(--color-separater-secondary);
  width: 100%;
  margin-right: 1rem;
}

.section-subtitle::after {
  margin-right: 0;
  margin-left: 1rem;
}

.section-description {
  width: 100%;
  color: var(--color-text-secondary);
  font-style: italic;
  min-height: 4rem;
}
